version: "3.7"

services:
  apisix:
    image: apache/apisix:3.9.1-debian
    volumes:
      - ./conf/apisix/config.yaml:/usr/local/apisix/conf/config.yaml:ro
    depends_on:
      - etcd
    ports:
      - "9080:9080"
      - "9180:9180"
      - "9091:9091"

  apisix-dashboard:
    image: apache/apisix-dashboard:3.0.1-centos
    volumes:
    - ./conf/dashboard/conf.yaml:/usr/local/apisix-dashboard/conf/conf.yaml
    depends_on:
      - apisix
    ports:
    - "9000:9000"

  keycloak:
  #   image: 10.60.156.72/docker.io/keycloak/keycloak
    image: quay.io/keycloak/keycloak:26.3.1
    container_name: keycloak
    # command: start-dev
    environment:
  #     #KC_HOSTNAME: ${KC_HOSTNAME}
  #     KC_HOSTNAME_PORT: ${KC_HOSTNAME_PORT}
  #     KC_HTTP_ENABLED: true
  #     KC_HOSTNAME_STRICT_HTTPS: false
  #     KC_HEALTH_ENABLED: true
  #     KEYCLOAK_ADMIN: ${KC_ADMIN}
  #     KEYCLOAK_ADMIN_PASSWORD: ${KC_ADMIN_PASSWORD}
  #     KC_DB: mariadb
  #     KC_DB_URL: jdbc:mariadb://${MARIADB_ADDR}/keycloak?createDatabaseIfNotExist=true&characterEncoding=UTF-8
  #     KC_DB_USERNAME: ${MARIADB_USERNAME}
  #     KC_DB_PASSWORD: ${MARIADB_PASSWORD}
  #     KC_TRANSACTION_XA_ENABLED: true
    ports:
      - 8080:8080
    restart: always
    networks:
      - mlog 

  opa:
    image: openpolicyagent/opa
    ports:
      - "8181:8181"

  # opal-server:
  #   image: permitio/opal-server
  #   container_name: opal-server
  #   environment:
  #     - OPAL_BROADCAST_URI=kafka://10.0.0.41:9092,10.0.0.86:9092,10.0.0.99:9092
  #     - UVICORN_NUM_WORKERS=2
  #     - OPAL_POLICY_REPO_URL=https://github.com/trantuananh1/test-opa.git
  #     - OPAL_POLICY_REPO_WEBHOOK_SECRET=OQ3M81ECbeJEIka4MhgPalSbxVLLe91GBZyiVtPEUsM
  #     - OPAL_DATA_CONFIG_SOURCES={"external_source_url":"http://117.5.151.111:8081/v2/pdps/data/config"}
  #     - OPAL_LOG_FORMAT_INCLUDE_PID=true
  #   ports:
  #     - "7002:7002"
  #   networks:
  #     - mlog

  # user_service:
  #   build: ./services/user
  #   container_name: user_service
  #   env_file:
  #     - .env
  #   ports:
  #     - '8081:8081'
  #   networks:
  #     - mlog
  #   volumes:
  #
  # redis:
  #   image: redis:7.4.2
  #   container_name: redis
  #   ports:
  #     - "6379:6379"
  #   networks:
  #     - mlog

  prometheus:
    image: "prom/prometheus"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"

networks:
  mlog:
    driver: bridge
