services:
  apisix:
    image: apache/apisix:3.9.1-debian
    volumes:
      - ./conf/apisix/config.yaml:/usr/local/apisix/conf/config.yaml:ro
    depends_on:
      - etcd
    ports:
      - "9080:9080"
      - "9180:9180"
      - "9091:9091"
    networks:
      - mlog
  #
  apisix-dashboard:
    image: apache/apisix-dashboard:3.0.1-centos
    volumes:
    - ./conf/dashboard/conf.yaml:/usr/local/apisix-dashboard/conf/conf.yaml
    depends_on:
      - apisix
    ports:
    - "9000:9000"
    networks:
      - mlog
  etcd:
    image: openeuler/etcd:3.6.4-oe2403sp1
    environment:
      ETCD_ENABLE_V2: true
      ALLOW_NONE_AUTHENTICATION: yes
      ETCD_ADVERTISE_CLIENT_URLS: http://etcd:2397
      ETCD_LISTEN_CLIENT_URLS: http://0.0.0.0:2397
    networks:
      - mlog

  # prometheus:
  #   image: prom/prometheus:v2.52.0
  #   volumes:
  #     - ./conf/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
  # loki:
  #   image: grafana/loki:3.0.0
  # jaeger:
  #   image: jaegertracing/all-in-one:1.57
  #   environment:
  #     COLLECTOR_OTLP_ENABLED: true
  #   ports:
  #     - "16686:16686"
  # grafana:
  #   image: grafana/grafana:11.0.0
  #   ports:
  #     - "3000:3000"
  #   volumes:
  #     - ./conf/grafana/provisioning:/etc/grafana/provisioning
  #     - ./conf/grafana/dashboards:/var/lib/grafana/dashboards
  #     - ./conf/grafana/config/grafana.ini:/etc/grafana/grafana.ini

  keycloak:
  #   image: 10.60.156.72/docker.io/keycloak/keycloak
    image: quay.io/keycloak/keycloak:26.4.6
    container_name: keycloak
    volumes:
      - ./keycloak-theme/my-theme:/opt/keycloak/themes/mlog-theme
    command: start-dev --spi-theme-static-max-age=-1 --spi-theme-cache-themes=false --spi-theme-cache-templates=false
    environment:
  #     KC_HOSTNAME: ${KC_HOSTNAME}
  #     KC_HOSTNAME_PORT: ${KC_HOSTNAME_PORT}
  #     KC_HTTP_ENABLED: true
  #     KC_HOSTNAME_STRICT_HTTPS: false
      KC_HEALTH_ENABLED: true
      KC_METRICS_ENABLED: true

      KEYCLOAK_ADMIN: ${KC_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD: ${KC_ADMIN_PASSWORD}

      # KC_DB: mariadb
      # KC_DB_URL: jdbc:mariadb://keycloak-db:3306/keycloak?createDatabaseIfNotExist=true&characterEncoding=UTF-8
      # KC_DB_USERNAME: ${KEYCLOAK_MARIADB_USERNAME}
      # KC_DB_PASSWORD: ${KEYCLOAK_MARIADB_PASSWORD}
  #     KC_TRANSACTION_XA_ENABLED: true
    ports:
      - 8080:8080
    restart: always
    networks:
      - mlog 

  # keycloak-db:
  #   image: mariadb
  #   restart: always
  #   environment:
  #     MARIADB_USER: ${MARIADB_USERNAME}
  #     MARIADB_ROOT_PASSWORD: ${MARIADB_PASSWORD}
  #   networks:
  #     - mlog 

  # opa:
  #   image: openpolicyagent/opa
  #   container_name: opa
  #   volumes:
  #     - ./conf/opa/policies:/policies
  #   ports:
  #     - "8181:8181"
  #   command: >
  #     run --server
  #     --log-level debug
  #     --addr :8181
  #     /policies

  engagement_service:
    build: ./services/engagement
    container_name: engagement_service
    networks:
      - mlog

  user_service:
    build: ./services/user
    container_name: user_service
    networks:
      - mlog
  #   env_file:
  #     - .env
  # ports:
  #   - '8081:8081'

  # content_service:
  #   build: ./services/content
  #   container_name: content_service
  #   ports:
  #     - 8081:8081
  #   networks:
  #     - mlog
  #   environment:
  #     DB_URL: jdbc:mariadb://content_service_db:3306/contentdb
  #     DB_USER: root
  #     DB_PASSWORD: admin
  #   depends_on:
  #     content_service_db:
  #       condition: service_healthy
  #
  # content_service_db:
  #   image: mariadb:10.11
  #   container_name: content_service_db
  #   networks:
  #     - mlog
  #   environment:
  #     MARIADB_DATABASE: contentdb
  #     MARIADB_ROOT_PASSWORD: admin
  #   healthcheck:
  #     test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-padmin"]
  #     interval: 5s
  #     timeout: 5s
  #     retries: 10

  # engagement_service_db:
  #   build: ./services/engagement
  #   container_name: engagement_service
  #   ports:
  #     - 8081:8081
  #   networks:
  #     - mlog
  #
  # content_service_db:
  #   image: mariadb:10.11
  #   container_name: engagement_service_db
  #   networks:
  #     - mlog
  #   environment:
  #     MARIADB_DATABASE: engagementdb
  #     MARIADB_ROOT_PASSWORD: admin
  #   healthcheck:
  #     test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-padmin"]
  #     interval: 5s
  #     timeout: 5s
  #     retries: 10

  # redis:
  #   image: redis:7.4.2
  #   container_name: redis
  #   ports:
  #     - "6379:6379"
  #   networks:
  #     - mlog

  # prometheus:
  #   image: "prom/prometheus"
  #   volumes:
  #     - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
  #   ports:
  #     - "9090:9090"
  
  httpbin:
    image: kennethreitz/httpbin
    networks:
      - mlog

networks:
  mlog:
    driver: bridge
