openapi: 3.0.4
info:
  title: Mlog API
  description: Simple (or not) API for managing blogs based on the OpenAPI 3.0 specification
  version: 1.0.0

servers:
  - url: http://localhost:5000

paths:
  # some basic user routes
  /api/v1/users:
    get:
      summary: Get all users
      responses: 
        "200":
          description:
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/userResponse"
  /api/v1/users/{user_id}:
    get:
      summary: Get a specific user with the user_id
      responses: 
        "200":
          description:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/userResponse"
  /api/v1/users/me:
    get:
      summary: Get my user info
      responses: 
        "200":
          description:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/userResponse"
  /api/v1/users/{user_id}/followers:
    get:
      summary: Get all of user_id's all users
      responses: 
        "200":
          description:
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/userResponse"
  /api/v1/users/{user_id}/followings:
    get:
      summary: Get all users who user_id follows
      responses: 
        "200":
          description:
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/userResponse"



  # keycloak stuffs
  /api/v1/auth:
    get: 
      summary: Redirect to Keycloak account management page 
      tags:
        - keycloak
      responses: 
        '302': 
          description: Redirect to Keycloak
  # /api/v1/auth/me:
  #   get:
  #     summary: Returns user info that keycloak holds
  /api/v1/auth/login:
    get:
      summary: Redirect user to Keycloak for login
      tags:
        - keycloak
      responses:
        '302':
          description: Redirect to Keycloak login page
  /api/v1/auth/callback:
    get:
      summary: OAuth2 callback endpoint for Keycloak
      tags:
        - keycloak
      parameters:
        - in: query
          name: code
          schema: { type: string }
      responses:
        '302':
          description: Redirects with authenticated session established
  /api/v1/auth/logout:
    get:
      summary: Logout user and end Keycloak session
      tags:
        - keycloak
      responses:
        '302':
          description: Redirect to Keycloak logout page
  /api/v1/auth/register:
    get:
      summary: Redirect to Keycloak registration page
      tags:
        - keycloak
      responses:
        '302':
          description: Redirect to Keycloak
  /api/v1/auth/password/reset:
    get:
      summary: Redirect to Keycloak password reset page
      tags:
        - keycloak
      responses:
        '302':
          description: Redirect to Keycloak


  # some basic admin routes
  /api/v1/admin/users/{user_id}/ban:
    post:
      summary: Ban user with user_id
      parameters:
        - in: path
          name: user_id
          required: true
          schema: 
            type: string
      requestBody:
        description: Informations about why the user is banned
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: The reason for banning the user
              required:
                - reason
      responses:
        "200":
          description: User banned successfully

  /api/v1/admin/users/{user_id}/unban:
    post:
      summary: Unban user with user_id
      parameters:
        - in: path
          name: user_id
          required: true
          schema: 
            type: string
      requestBody:
        description: Informations about why the user is unbanned
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: The reason for unbanning the user
              required:
                - reason
      responses:
        "200":
          description: User unbanned successfully





  /api/v1/blogs:
    get:
      summary: Returns list of all blogs
      description: Returns list of all blogs
      tags:
        - blogs
      responses:
        "200":
          description: A JSON array of blogs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/userResponse"
    post:
      summary: Creates a new blog
      tags:
        - blogs
      requestBody:
        description: Parameters for new blog
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/blogCreateRequest"
      responses:
        "201":
          description: blog created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/userResponse"
        "400":
          description: Missing required fields
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Resource already existed
          content: 
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/v1/blogs/{blog_id}:
    parameters:
      - name: blog_id
        in: path
        description: blog's id
        required: true
        schema:
          type: integer
          format: int64
    get:
      summary: Getting blog by id
      tags:
        - blogs
      responses:
        "200":
          description: blog found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/userResponse"
        "404":
          description: blog not found
          content: 
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    put:
      summary: Edit a blog using id
      tags:
        - blogs
      requestBody:
        description: Describe blog to be edited
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/blogCreateRequest"
      responses:
        "200":
          description: blog edited successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/userResponse"
        "400":
          description: Missing required fields
          content: 
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: blog not found
          content: 
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      summary: Edit a blog using id
      tags:
        - blogs
      requestBody:
        description: Describe blog to be edited
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/blogPatchRequest"
      responses:
        "200":
          description: blog edited successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/userResponse"
        "400":
          description: Missing required fields
          content: 
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: blog not found
          content: 
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Delete blog using id
      tags:
        - blogs
      responses:
        "204":
          description: Deleted successfully
          content:
            application/json:
              schema:
                type: string

components:
  schemas:
    userResponse:
      type: object
      properties:
        id:
          type: integer
          description: user's id, autoincrement
          example: 1
        username:
          type: string
          description: username, must be unique
          example: 6myduck10293
        display_name:
          type: string
          description: user's display name
          example: 6myduck
        bio:
          type: string
          description: user's bio
          example: I'm the lord of all ducks
        avatar_url: 
          type: string
          description: Profile picture for the blog.
          example: https://ipfs.io/ipfs/QmQA66xJFVcP5h8fs1PJt3fXeGwVPB55Q6o8PwEx1Jc2kz
        created_at:
          type: string
          description: When the user created their account
          example: date-time
        updated_at:
          type: string
          description: When the user info was last modified
          example: date-time
    roleResponse:
      type: object
      properties:
        id:
          type: integer
          description: role's id, autoincrement
          example: 1
        name:
          type: string
          description: role's name, must be unique
          example: 6myduck10293
        display_name:
          type: string
          description: user's display name
          example: 6myduck
        bio:
          type: string
          description: user's bio
          example: I'm the lord of all ducks
        avatar_url: 
          type: string
          description: Profile picture for the blog.
          example: https://ipfs.io/ipfs/QmQA66xJFVcP5h8fs1PJt3fXeGwVPB55Q6o8PwEx1Jc2kz
        created_at:
          type: string
          description: When the user created their account
          example: date-time
        updated_at:
          type: string
          description: When the user info was last modified
          example: date-time

    blogCreateRequest:
      type: object
      properties:
        name:
          type: string
          description: blog's name
          example: Dell precision 5540 laptop
        description: 
          type: string
          description: blog's description
          example: Dell workstation, i7 9th generation
        price:
          type: number
          description: blog's price
          example: 999.99
        sku: 
          type: string
          description: blog's sku
          example: LP-XYZ-001
        quantity:
          type: integer
          description: blog's quantity
          example: 100
      required:
        - name
        - price
        - quantity

    blogPatchRequest:
      type: object
      properties:
        name:
          type: string
          description: blog's name
          example: Dell precision 5540 laptop
        description: 
          type: string
          description: blog's description
          example: Dell workstation, i7 9th generation
        price:
          type: number
          description: blog's price
          example: 999.99
        sku: 
          type: string
          description: blog's sku
          example: LP-XYZ-001
        quantity:
          type: integer
          description: blog's quantity
          example: 100

    Error:
      type: object
      properties:
        error:
          type: string
          description: String representation of the error that occurred
          example: blog's price is missing
