server:
  address: 0.0.0.0
  port: 8080
spring:
  application:
    name: engagement
  jackson:
    date-format: yyyy-MM-dd'T'HH:mm:ss.SSSXXX
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password: password
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
  cloud:
    openfeign:
      client:
        config:
          default:
            connectTimeout: 5000
            readTimeout: 5000
            loggerLevel: basic

app:
  services:
    user:
      url: http://localhost:8083